@import "@fontsource-variable/hanken-grotesk";

:root {
  /* primary */
  --color-light-red: hsl(0 100% 67%);
  --color-orangey-yellow: hsl(39 100% 56%);
  --color-green-teal: hsl(166 100% 37%);
  --color-cobalt-blue: hsl(234 85% 45%);

  --color-light-red-bg: hsla(0, 100%, 67%, 0.1);
  --color-orangey-yellow-bg: hsla(39, 100%, 56%, 0.1);
  --color-green-teal-bg: hsla(166, 100%, 37%, 0.1);
  --color-cobalt-blue-bg: hsla(234, 85%, 45%, 0.1);

  /* gradients */
  --color-light-slate-blue: hsl(252 100% 67%);
  --color-light-royal-blue: hsl(241 81% 54%);
  --color-violet-blue: hsla(256, 72%, 46%, 1);
  --color-persian-blue: hsla(241, 72%, 46%, 0);

  /* neutral */
  --color-white: hsl(0 0% 100%);
  --color-pale-blue: hsl(221 100% 96%);
  --color-light-lavendar: hsl(241 100% 89%);
  --color-dark-gray-blue: hsl(224 30% 27%);

  --gradient-1: linear-gradient(
    to top,
    var(--color-light-royal-blue),
    var(--color-light-slate-blue)
  );

  --gradient-2: linear-gradient(
    to top,
    var(--color-persian-blue),
    var(--color-light-royal-blue),
    var(--color-violet-blue)
  );
  

  --border-radius: 32px;
  --border-radius-sm: 12px;

  --font-family: 'Hanken Grotesk Variable', sans-serif;
  --font-size: 18px;
  --font-weight: 500;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  background: var(--color-pale-blue);
}

ul, ol {
  list-style: none;
}